#admin-login {
  /* min-height: 100vh; */
  background-color: var(--white);
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#admin-login {
  min-height: 100vh;
}

#admin-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
}
#admin-login h1 {
  font-family: var(--ff-sans);
  color: var(--dark-aqua);
}
